:root {
    --light-gray: #ebebeb;
    --primary-font:  'Work Sans', sans-serif;
    --background-color: rgba(255, 144, 14, 0.1);

}


body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
}
.background-color {
    width: 1920px;
    height: 1322px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.section {
   padding: 3rem 400px;
}

.section-header {
            text-align: center;
            justify-content: space-evenly;
            font-size: 64px;
            font-weight: 700;
            margin: 20px;
           
}
.section-description {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}

.button {
   text-align: center;
   color: #FFFFFF;
   font-weight: 600;
   font-size: 20px;
   border: 0;
   padding: 20px 25px;
   height: 64px;
   border-radius: 8px;
   background-color: #FF900E;
   text-align: center;
}

.banner-image {
    margin: 25px;
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    
}
.container-image {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.architecture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.third-head {
    text-align: center;
    justify-content: space-between;
    font-size: 45px;
    font-weight: 500;
}

.secound-description {
    font-size: 16px;
    font-weight: 400;
}

.secound-button {
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    justify-content: space-between;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
}
.container-title {
    display: flex;
    align-items: center;
}
.experience {
    width: 1400px;
    margin: 20px;
}
.fourth-title {
    font-size: 45px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

.fourth-title-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}

.first-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.secound-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.third-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.fourth-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.third-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 45px 42px;
    border-radius: 8px;
    background-color: #FF900E;
}

.some-facts {
   padding: 0 240px;
}
.section-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.section-des-one {
    font-weight: 400;
}
section-des-two {
    font-size: 12px;
    font-weight: 400;
}
.icon-section {
    margin: 100px;
    gap: 6rem;
    
}
.icon-setup {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border: rgba(255, 144, 14, 1);
}
.sponsors {
    text-align: center;
    justify-content: space-evenly;
}
.last-section {
    text-align: center;
    justify-content: space-between;
}

.our-sponsors {
   font-size: 45px;
   font-weight: 700;
   margin: 24px;
   
}

.sponsors-description {
    font-weight: 400;
    
    
    
}
.sponsors-description-two {

    font-weight: 400;
    color: #727272;       
}
.sponsors-image {
    margin: 50px;
    display: flex;
    text-align: center;
    padding: 0 240px;
    justify-content: space-evenly;
    gap: 3rem;
   
}
.footer {
    background-color: #FFF4E7;
}

.footer-description {
    font-size: 12px;
    font-weight: 400;
    text-align: center ;
    padding: 216px 240px;
    border-radius: 8px;

}
/* responsive style */


@media screen and (max-width:576px) {
    .container, .section,.section-header, .section-description, .button, .banner-image, .container-image, .architecture, .third-head, .secound-description, .secound-button, .container-title, .experience, .fourth-title, .fourth-title-description, .third-button, .some-facts, .section-title, .section-des-one, .icon-section, .icon-setup, .sponsors, .last-section, .our-sponsors, .secound-description, .sponsors-description-two, .sponsors-image, .footer, .footer-description {
        flex-direction: column;
        padding: 10px 20px;
    }
    
}