:root {
    --light-gray: #ebebeb;
    --primary-font:  'Work Sans', sans-serif;
    --background-color: rgba(255, 144, 14, 0.1);

}


body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
}
.background-color {
    width: 1920px;
    height: 1322px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.section {
   padding: 3rem 400px;
}

.section-header {
            font-size: 64px;
            font-weight: 700;
            width: 862px;
            left: 205px;
            line-height: 75px;
            margin: 20px;
           
}
.section-description {
    font-size: 10px;
    font-weight: 300;
}
.button {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 20px;
   border: 0;
   padding: 20px 25px;
   justify-content: space-between;
   height: 64px;
   border-radius: 8px;
   background-color: #FF900E;
    
}

.banner-image {
    margin: 25px;
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    
}
.container-image {
    display: flex;
}

.architecture {
    padding: 24px;
}

.third-head {
    font-size: 45px;
    font-weight: 500;
}

.secound-description {
    font-size: 16px;
    font-weight: 400;
}

.secound-button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    justify-content: space-between;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
}
.container-title {
    display: flex;
    align-items: center;
}
.experience {
    width: 1400px;
    height: 4059px;
    margin: 20px;
}
.fourth-title {
    font-size: 45px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

.fourth-title-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}

.first-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.secound-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.third-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.fourth-h6 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.third-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 45px 42px;
    justify-content: space-between;
    height: 200px;
    border-radius: 8px;
    background-color: #FF900E;
}
